@charset "utf-8";

/* containers */
.container {
    background-color: #eeeeee;
    padding: 5px 15px 5px 15px;
    color: #333333;
}

.container h1 {
    margin: 5px;
}

.container p {
    color: #222222;
}


/* align right */
.right {
    text-align: right;
}

/* buttons */
button {
    border-radius: 7px;
    border: none;
    padding: 5px;
    outline: 0px transparent;
    background-color: #97a1c2;
}

a {
    text-decoration: none;
    color: black;
}

button:hover {
    background-color: #374f9e;
}

button:hover a{
    color: #ffffff;
}

/* input */

input {
    outline: 0px transparent;
}
.no-border-after {
    outline: 0px transparent;
}

.no-border {
    border: none;
}